<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Панель управления</a>
    </div>

    <ul class="collapse nav navbar-nav navbar-collapse">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">
            <a href="#callouts-tab" data-toggle="tab">Заявки</a>
        </li>

        @if (Model.user.position == "директор")
        {
            <li>
                <a href="#employees-tab" data-toggle="tab">Сотрудники</a>
            </li>
        }

        <li class="visible-xs">
            <a href="/admin/logout">Выйти</a>
        </li>
    </ul>

    <ul class="nav navbar-nav pull-right hidden-xs">
        <li>
            <a href="/admin/logout">Выйти 
                <i class="fa fa-sign-out"></i>
            </a>
        </li>
    </ul>
</nav>