/.idea
/ControlTravelAgencySystem/ControlTravelAgencySystem/Web.config
/ControlTravelAgencySystem/ControlTravelAgencySystem/ControlTravelAgencySystem.csproj.user
/ControlTravelAgencySystem/ControlTravelAgencySystem/obj/
/ControlTravelAgencySystem/ControlTravelAgencySystem/Web.Release.config
/ControlTravelAgencySystem/ControlTravelAgencySystem/Web.Debug.config
/ControlTravelAgencySystem/ControlTravelAgencySystem/bin/
/ControlTravelAgencySystem/.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/
/ControlTravelAgencySystem/ControlTravelAgencySystem/Views/Web.config
