@model ControlTravelAgencySystem.Models.ViewModels.ToursView
<table id="tours-table" class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Страна</th>
            <th>Города</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewItem in Model.TourViewItems)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(
                        viewItem.TourName,
                        "GetHotelsList",
                        "Hotels",
                        new { id = viewItem.TourId },
                        new AjaxOptions
                        {
                            UpdateTargetId = "hotels-table-" + viewItem.TourId,
                            Url = Url.Action(
                                "GetHotelsList",
                                "Hotels",
                                new { id = viewItem.TourId }),                            
                            OnBegin= "(function() { LoadAjaxSuccess1(" + viewItem.TourId + "); })()"
                        },
                        new { @class = "hotel-item" })
                </td>
                <td>
                    @viewItem.CountryName
                </td>
                <td>
                    @viewItem.Cities
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="hotels-table-@viewItem.TourId" class="hotels-table" />
                </td>
            </tr>
        }
    </tbody>
</table>
@*перенести в файл*@
<script>
    function LoadAjaxSuccess1(id) {
        $("#hotels-table-" + id).fadeIn();
        $(".hotels-table:not(#hotels-table-" + id +")").fadeOut();
    }
</script>
