@model ControlTravelAgencySystem.Models.ViewModels.ToursView
@{
    ViewBag.Title = "Туристическое бюро";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tours-title">
    <div class="float-left">
        <p>Добро пожаловать в туристичекое бюро!</p>
        <p>Выберите заинтересовавший Вас тур</p>        
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("FavoriteList", "Rooms")'">Список пожеланий</button>
        @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")'">Вход</button>*@
    </div>
</div>
<div id="tours-list">
    @Html.Action("GetToursList", "Tours")
</div>