@model ControlTravelAgencySystem.Models.ViewModels.ToursView
@{
    ViewBag.Title = "Туристическое бюро";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tours-title">
    <p>Добро пожаловать в туристичекое бюро!</p>
    <p>Выберите заинтересовавший Вас тур</p>
</div>
<div id="tours-list">
    @Html.Action("GetToursList", "Tours")
</div>