html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 5px;
}

#body {
    margin: 10px;
}

#tours-list {
    margin-top: 60px;
}

#callout-btn {
    margin-top: 20px;
}

header, footer, hgroup, nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}