
@{
    ViewBag.Title = "Успешное оформление заявки";
}

<div class="alert alert-success notification-alert">
    <strong>Поздравляем!</strong>
    <b>Ваша заявка успешно оформлена. <a href="/" class="alert-link">На главную</a></b>
</div>