
@{
    ViewBag.Title = "Успех";
}

<div>
    <h2>Ваша заявка успешно оформлена</h2>
</div>
<br/><br /><br />
<div class="float-left">
    <a class="btn btn-primary" href="/">Вернуться на главную страницу</a>
</div>