@model ControlTravelAgencySystem.Models.ViewModels.AdminPanelPageView

@{
    ViewBag.Title = "Панель управления";
}

<div id="control-panel">
    <div class="tab-content">
        <div class="tab-pane active" id="callouts-tab">
            @RenderPage("CalloutsTab.cshtml")
        </div>

        @if (Model.user.position == "директор")
        {
            <div class="tab-pane" id="employees-tab">
                @RenderPage("EmployeesTab.cshtml")
            </div>
        }
        
    </div>
</div>