<script id="suggestions-box" type="text/x-handlebars-template">

    <div class="panel-group{{#unless isServices}} margin-none{{/unless}}" id="accordion" role="tablist" aria-multiselectable="true">

        {{#if is_services }}

            {{#each airtickets}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index " +" 1}}-airticket" aria-controls="collapseOne" aria-expanded="false">
                                Авиабилет №{{math @@index "+" 1}}
                            </a>
                            <span class="pull-right">от {{created_datetime}}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index " +" 1}}-airticket" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <p>
                                <b>Перевозчик:</b> {{ this.flight.airline_name }}
                            </p>
                            <p>
                                <b>Номер рейса:</b> {{ this.flight.code }}
                            </p>
                            <p>
                                <b>Продолжительность полета:</b> {{ this.flight.duration }} ч.
                            </p>
                            <p>
                                <b>Всего мест:</b> {{ this.flight.total_seats }}
                            </p>
                            <p>
                                <b>Детский:</b>
                                {{#if this.is_baby }}Да{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Наличие багажа:</b>
                                {{#if this.is_baggage }}Есть{{ else }}Нет{{/if}}
                            </p>
                            <hr />
                            <span>
                                <b>Стоимость билета: </b>{{ this.payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#each transfers}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-transfer" aria-controls="collapseOne" aria-expanded="false">
                                Трансфер №{{math @@index "+" 1}} ({{ route.type }})
                            </a>
                            <span class="pull-right">от {{created_datetime}}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-transfer" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">

                            {{#if route.starting_address }}
                            <p>
                                <b>Адрес отправления:</b> {{ route.starting_address }}
                            </p>
                            {{/if}}

                            <p>
                                <b>Дата отправления:</b> {{ this.starting_date }}
                            </p>

                            <p>
                                <b>Время отправления:</b> {{ route.starting_time }}
                            </p>

                            {{#if route.from_airport }}
                            <p>
                                <b>Посадка в аэропорту:</b> {{ route.from_airport.name }} (г.{{ route.from_airport.city_name }})
                            </p>
                            {{/if}}

                            {{#if route.final_address }}
                            <p>
                                <b>Адрес назначения:</b> {{ route.final_address }}
                            </p>
                            {{/if}}

                            {{#if route.from_airport }}
                            <p>
                                <b>Поезка до аэропорта:</b> {{ route.to_airport.name }} (г.{{ route.to_airport.city_name }})
                            </p>
                            {{/if}}

                            <p>
                                <b>Время в пути:</b> {{ route.duration }} мин
                            </p>

                            {{#if route.distance }}
                            <p>
                                <b>Расстояние:</b> {{ route.distance }} км
                            </p>
                            {{/if}}

                            <p>
                                <b>Всего мест:</b> {{ route.total_seats }}
                            </p>

                            <p>
                                <b>Детский:</b>
                                {{#if this.is_baby }}Да{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Наличие багажа:</b>
                                {{#if this.is_baggage }}Есть{{ else }}Нет{{/if}}
                            </p>
                            <hr />
                            <span>
                                <b>Стоимость билета: </b>{{ this.payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#each rooms}}

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index " +" 1}}-airticket" aria-controls="collapseOne" aria-expanded="false">
                                Номер {{ room.number }} в отеле {{ room.hotel.name }}
                            </a>
                            <span class="pull-right">от {{created_datetime}}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index " +" 1}}-airticket" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            test
                        </div>
                    </div>
                </div>
            {{/each}}

        {{else}}

            <div class="alert alert-info margin-none">Данный клиент не выбрал услуг</div>

        {{/if}}


    </div>

</script>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="suggestions-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Пожелания клиента</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>