<script id="suggestions-box" type="text/x-handlebars-template">

    <div class="panel-group{{#unless isServices}} margin-none{{/unless}}" id="accordion" role="tablist" aria-multiselectable="true">

        {{#if is_services }}

            {{#each airtickets}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-airticket" aria-controls="collapseOne" aria-expanded="false">
                                Авиабилет №{{math @@index "+" 1}}
                            </a>
                            <span class="pull-right">от {{created_datetime}}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-airticket" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <p>
                                <b>Перевозчик:</b> {{ flight.airline_name }}
                            </p>
                            <p>
                                <b>Номер рейса:</b> {{ flight.code }}
                            </p>
                            <p>
                                <b>Продолжительность полета:</b> {{ flight.duration }} ч.
                            </p>
                            <p>
                                <b>Всего мест:</b> {{ flight.total_seats }}
                            </p>
                            <p>
                                <b>Детский:</b>
                                {{#if is_baby }}Да{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Наличие багажа:</b>
                                {{#if is_baggage }}Есть{{ else }}Нет{{/if}}
                            </p>
                            <hr />
                            <span>
                                <b>Стоимость билета:</b> {{ payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#each transfers}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-transfer" aria-controls="collapseOne" aria-expanded="false">
                                Трансфер №{{math @@index "+" 1}} ({{ route.type }})
                            </a>
                            <span class="pull-right">от {{created_datetime}}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-transfer" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">

                            {{#if route.starting_address }}
                            <p>
                                <b>Адрес отправления:</b> {{ route.starting_address }}
                            </p>
                            {{/if}}

                            <p>
                                <b>Дата отправления:</b> {{ starting_date }}
                            </p>

                            <p>
                                <b>Время отправления:</b> {{ route.starting_time }}
                            </p>

                            {{#if route.from_airport }}
                            <p>
                                <b>Посадка в аэропорту:</b> {{ route.from_airport.name }} (г.{{ route.from_airport.city_name }})
                            </p>
                            {{/if}}

                            {{#if route.final_address }}
                            <p>
                                <b>Адрес назначения:</b> {{ route.final_address }}
                            </p>
                            {{/if}}

                            {{#if route.from_airport }}
                            <p>
                                <b>Поезка до аэропорта:</b> {{ route.to_airport.name }} (г.{{ route.to_airport.city_name }})
                            </p>
                            {{/if}}

                            <p>
                                <b>Время в пути:</b> {{ route.duration }} мин
                            </p>

                            {{#if route.distance }}
                            <p>
                                <b>Расстояние:</b> {{ route.distance }} км
                            </p>
                            {{/if}}

                            <p>
                                <b>Всего мест:</b> {{ route.total_seats }}
                            </p>

                            <p>
                                <b>Детский:</b>
                                {{#if is_baby }}Да{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Наличие багажа:</b>
                                {{#if is_baggage }}Есть{{ else }}Нет{{/if}}
                            </p>
                            <hr />
                            <span>
                                <b>Стоимость билета:</b> {{ payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#each rooms}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-room" aria-controls="collapseOne" aria-expanded="false">
                                Номер {{ room.number }} в отеле {{ room.hotel.name }} ({{ room.hotel.city.name }}, {{ room.hotel.city.country.name }})
                            </a>
                            <span class="pull-right">от {{ created_datetime }}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-room" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <p>
                                <b>Класс:</b> {{ room.class }}
                            </p>
                            <p>
                                <b>Количество мест:</b> {{ room.seats_number }}
                            </p>

                            {{#if room.room_size }}
                                <p>
                                    <b>Площадь комнаты:</b> {{ room.room_size }} м<sup>2</sup>
                                </p>
                            {{/if}}

                            {{#if room.description }}
                                <p>
                                    <b>Описание:</b> {{ room.description }}
                                </p>
                            {{/if}}

                            <p>
                                <b>Количество звезд отеля:</b> {{ room.hotel.stars_number }}
                            </p>

                            {{#if room.hotel.distance_to_beach }}
                                <p>
                                    <b>Расстояние до ближ. пляжа:</b> {{ room.hotel.distance_to_beach }} м
                                </p>
                            {{/if}}

                            {{#if room.hotel.food }}
                                <p>
                                    <b>Питание:</b> {{ room.hotel.food.description }} ({{ room.hotel.food.type }})
                                </p>
                            {{/if}}
                            <p>
                                <b>Дата и время заезда:</b> с {{ start_living_datetime }}
                            </p>
                            <p>
                                <b>Продолжительность:</b> {{ duration }} часов
                            </p>
                            <hr />
                            <span>
                                <b>Стоимость проживания:</b> {{ payment }}
                            </span>

                        </div>
                    </div>
                </div>
            {{/each}}
            
            {{#each excursions }}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-excursion" aria-controls="collapseOne" aria-expanded="false">
                                Билет №{{math @@index "+" 1}} на эксурсию {{ excursion.name }}{{#if excursion.city_name }} ({{ excursion.city_name }}){{/if}}
                            </a>
                            <span class="pull-right">от {{ created_datetime }}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-excursion" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <p>
                                <b>Сбор по адресу:</b> {{ starting_address }}
                            </p>
                            <p>
                                <b>Время сбора:</b> {{ starting_datetime }}
                            </p>
                            <p>
                                <b>Продолжительность:</b> {{ excursion.duration }} часов
                            </p>
                            <p>
                                <b>Описание:</b> {{ excursion.description }}
                            </p>

                            {{#if bus_place_number}}
                                <p>
                                    <b>Место в автобусе:</b> {{ bus_place_number }}
                                </p>
                            {{/if}}

                            <p>
                                <b>Детский:</b>
                                {{#if is_baby }}Да{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Льготы:</b>
                                {{#if is_privilege }}Есть{{ else }}Нет{{/if}}
                            </p>
                            <p>
                                <b>Экскурсия за границей:</b>
                                {{#if is_custom }}Да{{ else }}Нет{{/if}}
                            </p>


                            <hr />
                            <span>
                                <b>Стоимость экскурсии:</b> {{ payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#each hotel_services }}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{math @@index "+" 1}}-hotel-service" aria-controls="collapseOne" aria-expanded="false">
                                Заказ №{{math @@index "+" 1}} на платную услугу{{#if hotel_service.hotel_name}} от отеля {{ hotel_service.hotel_name }}{{/if}}
                            </a>
                            <span class="pull-right">от {{ created_datetime }}</span>
                        </h4>
                    </div>
                    <div id="collapse-{{math @@index "+" 1}}-hotel-service" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <p>
                                <b>Дата и время оказания:</b> {{ provision_datetime }}
                            </p>
                            <p>
                                <b>Продолжительность:</b> {{ duration }} мин
                            </p>

                            {{#if room }}
                                <p>
                                    <b>Для комнаты номер:</b> {{ room.number }}
                                </p>
                            {{/if}}

                            <p>
                                <b>Описание:</b> {{ hotel_service.description }}
                            </p>

                            {{#if hotel_service.starting_time }}
                                <p>
                                    <b>Время начала предоставления:</b> {{ hotel_service.starting_time }}
                                </p>
                            {{/if}}

                            <hr />
                            <span>
                                <b>Стоимость услуги:</b> {{ payment }}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}

        {{else}}

            <div class="alert alert-info margin-none">Данный клиент не выбрал услуг</div>

        {{/if}}


    </div>

</script>