html {
    height: 100%; 
}

body {
    height: 100%; 
    width: 100%;

    background-image: url(http://enjoycss.com/bg-img/custom/4163-16y6220.png);
    background-repeat: repeat;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

#body {
    min-height: calc(100% - 82px);
    height: auto;
}

.content-wrapper {
    height: 100%;
}

.content-wrapper > .container {
    margin-top: 50px;
    width: auto;
    background: white;
    padding-bottom: 15px;
}

footer {
    margin-left: -5px;
    margin-right: -5px;
}

footer > kbd {
    width: 100%;
    border-radius: 0;
    padding: 5px;
}

.margin-none {
    margin: 0 !important;;
}

.padding-none {
    padding: 0 !important;
}

.flexbox {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between > * {
    align-self: center;
}