#control-panel table > tbody > tr {
    cursor: pointer;
}

#control-panel table > tbody > tr > td {
    vertical-align: middle;
}

#employees-top-panel {
    display: flex;
}

#employee-add-btn {
    align-self: center;
    margin: 20px 10px 10px;
}

.internal-interval-5 > * {
    margin-right: 5px;
}

.internal-interval-5 > *:first-child {
    margin-left: 0;
}

.internal-interval-5 > *:last-child {
    margin-right: 0;
}

#accordion .panel-heading > .panel-title{
    flex-grow: 1;
}