#control-panel table > tbody > tr {
    cursor: pointer;
}

#control-panel table > tbody > tr > td {
    vertical-align: middle;
}

#employees-top-panel {
    display: flex;
}

#employee-add-btn {
    align-self: center;
    margin: 20px 10px 10px;
}